{% extends 'layout.twig' %}
{% block body %}
    {% for blog in blogs %}
    <article class="blog">
        <div class="date">
            <time>{{ blog.created_at }}</time>
        </div>
        <header>
            <h2><a href="show_sb.php?id=n">{{ blog.title }}</a></h2>
        </header>
        {# <img src={{ "img/" ~ blog.image ~ " "}}/> #}
        <img src="public/img/{{ blog.image }}"/>
        <div class="snippet">
            <p>{{ blog.blog }} </p>
            <p class="continue"><a href="#">Continue reading...</a></p>
        </div>
        <footer class="meta">
            <p>Comments: <a href="#"> Numero comentarios </a></p>
            <p>Posted by <span class="highlight">{{ blog.author }}</span> at 07:06PM</p>
            <p>Tags: <span class="highlight">{{ blog.tags }}</span></p>
        </footer>
    </article>
    {% endfor %}
{% endblock %}